.container {  display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 100px 900px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header"
      "buttons recipe-container";
  }
  
  .header { grid-area: header; }
  
  .buttons { grid-area: buttons; }
  
  .recipe-container { grid-area: recipe-container; }
  
  
.header {
    background-color:#FFFBE9;
    font-size: 10px;
    font-family: Kristen ITC;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: left;
}

.buttons {
    background-color: #CCD6A6;
    text-align: center;
    padding-top: 50px;
}

.create-button {
    background: #E3D5B0;
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
  }

  .top {
    text-align: left;
    height: 50px;
    width: 140px;
    display: block;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 5px;
    border-radius: 12px;
    font-size: 15px;
    font-family: Century Gothic;
    font-weight: 500;
    background: #FAEDCD;
    color: black;
    transform: translateY(-6px);
  }

  .create-button:active .top {
    transform: translateY(-2px);
  }

.recipe-container {
    background-color: #DAE2B6;
}

.main-header {
    font-family: Kristen ITC;
    font-size: 15px;
    padding-left: 50px;
}

.sub-header {
    font-family: Century Gothic;
    font-size: 15px;
    font-weight: 100;
    padding-left: 50px;
}

.sub-header h3 {
    display: inline;
    padding-right: 20px;
}

/*This is the CSS for the create page*/

.recipe-page {
    background-color: #DAE2B6;
}

.recipe-text {
    background-color: #FAEDCD;
    padding-top: 10px;
    padding-left: 30px;
}

.recipe-text-header {
    font-family: Century Gothic;
    font-size: 20px;
    padding-top: 10px;
}

#textbox {
    font-size: 15px;
}
