* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header {
    background-color:#FFFBE9;
    font-size: 10px;
    padding: 10px;
    text-align: left;
}

.buttons {
    background-color: #FAEDCD;
    color: #000000;
    padding: 15px 25px;
    text-align: center;
    display: inline-block;
}

.buttons:hover {
    background-color: #E5D7B3;
}