.container {  display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 100px 900px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header"
      "buttons recipe-container";
  }
  
  .header { grid-area: header; }
  
  .buttons { grid-area: buttons; }
  
  .recipe-container { grid-area: recipe-container; }
  
  
.header {
    background-color:#FFFBE9;
    font-size: 10px;
    font-family: Kristen ITC;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: left;
}

.buttons {
    background-color: #CCD6A6;
    text-align: center;
    padding-top: 50px;
}

.create-button {
    background: #E3D5B0;
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
  }

  .top {
    text-align: left;
    height: 50px;
    width: 140px;
    display: block;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 5px;
    border-radius: 12px;
    font-size: 15px;
    font-family: Century Gothic;
    font-weight: 500;
    background: #FAEDCD;
    color: black;
    transform: translateY(-6px);
  }

.create-button:active .top {
    transform: translateY(-2px);
}

.recipe-container {
    background-color: #DAE2B6;
}

.main-header {
    font-family: Kristen ITC;
    font-size: 15px;
    padding-left: 50px;
}

.sub-header {
    font-family: Century Gothic;
    font-size: 15px;
    font-weight: 100;
    padding-left: 50px;
}

.sub-header h3 {
    display: inline;
    padding-right: 20px;
}

/*This is the CSS for create.html*/

.column {
    float: left;
    width: 50%;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.recipe-overview {
    background-color: #C6CEA5;
    padding-bottom: 30px;
}

.recipe-body {
    background-color: #FAEDCD;
    padding-left: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.back-button {
    background: #E3D5B0;
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
}

.top1 {
    text-align: left;
    height: 40px;
    width: 120px;
    display: block;
    padding-left: 15px;
    padding-top: 15px;
    border-radius: 12px;
    font-size: 15px;
    font-family: Century Gothic;
    font-weight: 500;
    background: #FAEDCD;
    color: black;
    transform: translateY(-6px);
}

.back-button:active .top1 {
    transform: translateY(-2px);
}
  
.recipe-page {
    background-color: #DAE2B6;
}

.recipe-text {
    background-color: #FAEDCD;
    padding-top: 10px;
    padding-left: 30px;
}

.recipe-text1 {
    padding-left: 30px;
}

.recipe-text-header {
    font-family: Century Gothic;
    font-size: 20px;
    padding-top: 10px;
}

.recipe-text-header1 {
    font-family: Century Gothic;
    font-size: 20px;
    padding-top: 10px;
}

.recipe-name-textbox {
    padding-left: 30px;
    padding-top: 30px;
}

.recipe-description-textbox {
    padding-left: 30px;
    padding-top: 20px;
}

#RN-textbox {
    font-size: 20px;
    padding-top: 10px;
    padding-left: 10px;
    font-family: Century Gothic;
} 

#RD-textbox {
    font-size: 17px;
    padding-top: 10px;
    padding-left: 10px;
    font-family: Century Gothic;
}

.course-category {
    padding-top: 20px;
    padding-left: 30px;
    font-family: Century Gothic;
}

#course-names {
    width: 275px;
    font-family: Century Gothic;
    font-size: 15px;
    padding: 10px;
    position: relative;
    left: 10px;
}

.recipe-tag {
    padding-top: 20px;
    padding-left: 30px;
    font-family: Century Gothic;
}

#tag-names {
    width: 275px;
    font-family: Century Gothic;
    font-size: 15px;
    padding: 10px;
    position: relative;
    left: 10px;
}

.serving {
    padding-top: 20px;
    padding-left: 30px;
    font-family: Century Gothic;
}

#serving-size-input {
    width: 70px;
    padding: 10px;
    font-size: 15px;
    font-family: Century Gothic;
}

.prep-time {
    padding-top: 20px;
    padding-left: 30px;
    font-family: Century Gothic;
}

#prep-time-input {
    width: 70px;
    padding: 10px;
    font-size: 15px;
    font-family: Century Gothic;
}

.cooking-time {
    padding-top: 20px;
    padding-left: 30px;
    font-family: Century Gothic;
}

#cooking-time-input {
    width: 70px;
    padding: 10px;
    font-size: 15px;
    font-family: Century Gothic;
}

.image-section {
    padding-top: 30px;
}

.square {
    text-align: center;
    height: 519px;
    width: 500px;
    position: relative;
    left: 30px;
    background-color: white;
    display: inline-block;
}

.add-image {
    position: relative;
    top: 230px;
    text-align: center;
    font-family: Century Gothic;
}

#user-file {
    position: relative;
    left: 50px;
}

#user-file {
    text-align: center;
    font-size: 15px;
    font-family: Century Gothic;
}

#textbox {
    font-size: 17px;
    padding-top: 10px;
    padding-left: 10px;
    font-family: Century Gothic;
}

#instruction-textbox {
    font-size: 17px;
    padding-top: 10px;
    padding-left: 10px;
    font-family: Century Gothic;
    height: 490px;
}

.save-button {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.save-recipe-button {
    background: #C6CEA5;
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
}

.top2 {
    text-align: center;
    height: 40px;
    width: 150px;
    display: block;
    padding-top: 15px;
    border-radius: 12px;
    font-size: 15px;
    font-family: Century Gothic;
    font-weight: 500;
    background: #DAE2B6;
    color: black;
    transform: translateY(-6px);
}

.save-recipe-button:active .top2 {
    transform: translateY(-2px);
}

